<?xml version="1.0"?>
<!--
/**
 * Dotpay events
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="shortcut_buttons_container">
        <observer name="dotpay_shortcuts" instance="Dotpay\Dotpay\Observer\AddDotpayShortcutsObserver"/>
    </event>
</config>
