<?xml version="1.0"?>
<!--
/**
 * Dotpay backend
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="dotpay_dotpay" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dotpay</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ID</label>
                </field>
                <field id="pin" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PIN</label>
                </field>
                <field id="oneclick" translate="label" type="select" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>One-Click</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show separately in a shop channel</comment>
                </field>
                <field id="dotpay_user" translate="label" type="text" sortOrder="43" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User name</label>
                    <comment>User name for Dotpay panel</comment>
                </field>
                <field id="dotpay_password" translate="label" type="password" sortOrder="44" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User password</label>
                    <comment>User password for Dotpay panel</comment>
                </field>
                <field id="masterpass" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>MasterPass (First Data Polska S.A.)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show separately in a shop channel</comment>
                </field>
                <field id="blik" translate="label" type="select" sortOrder="48" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>BLIK (Polski Standard Płatności Sp. z o.o.)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show separately in a shop channel</comment>
                </field>
                <field id="widget" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Widget</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Display payment channels in a shop</comment>
                </field>
                <field id="security" translate="label" type="select" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Security</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Protect data sent</comment>
                </field>
                <field id="test" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Testing environment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Total</label>
                    <comment>Leave empty to disable limit</comment>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Order Total</label>
                    <comment>Leave empty to disable limit</comment>
                </field>
                 <field id="sort_order" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <comment>Leave empty to disable sort order</comment>
                </field>
            </group>
        </section>
    </system>
</config>
